<!DOCTYPE html>
<html lang="en">
<head>
    {include file="../application/common/view/web/head.html" title=" - 提现管理"}
    <link href="/resource/web/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
    <link href="/resource/web/js/iCheck/skins/square/blue.css" rel="stylesheet">
    <link href="/resource/web/js/iCheck/skins/square/red.css" rel="stylesheet">
    <style>
        .extract_form {
            display: none;
        }
    </style>
</head>
<body class="sticky-header">
<section>
    {include file="../application/common/view/web/left.html"}
    <div class="main-content">
        {include file="../application/common/view/web/header.html"}
        <div class="page-heading">
            <ul class="breadcrumb">
                <li><a href="{:url('Index/index')}">首页</a></li>
                <li><a href="{:url('Depost/index')}">提现管理</a></li>
                <li class="active"> 提现列表</li>
            </ul>
        </div>
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">提现列表</header>
                        <div class="panel-body text-right">
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <select class="form-control" id="agent" name="agent">
                                        <option value="0">加盟商</option>
                                        {volist name="agent_list" id="a"}
                                        <option value="{$a.agent_id}" {if condition="$Think.get.agent == $a.agent_id"}selected{/if}>{$a.agent_name}</option>
                                        {/volist}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="status" name="status">
                                        <option value="0" {if condition="$Think.get.status == 0"}selected{/if}>状态</option>
                                        <option value="1" {if condition="$Think.get.status == 1"}selected{/if}>申请中</option>
                                        <option value="2" {if condition="$Think.get.status == 2"}selected{/if}>已通过</option>
                                        <option value="3" {if condition="$Think.get.status == 3"}selected{/if}>审核不通过</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-info">搜索</button>
                            </form>
                        </div>
                        <div class="panel-body">
                            <section id="unseen">
                                <table class="table table-bordered table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th class="text-center">提现ID</th>
                                            <th >提现加盟商</th>
                                            <th >提现金额</th>
                                            <th >提现银行</th>
                                            <th >提现账号</th>
                                            <th >提现人</th>
                                            <th >提现人电话</th>
                                            <th >提现时间</th>
                                            <th class="text-center">提现状态</th>
                                            <th >操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {volist name="agent_record" id="vo"}
                                        <tr class="extract_box_{$vo.extract_id}">
                                            <td class="text-middle text-center">{$vo.extract_id}</td>
                                            <td class="text-middle">{$vo.agent_name}</td>
                                            <td class="text-middle">{$vo.extract_money|floatval}</td>
                                            <td class="text-middle">{$vo.extract_bank}</td>
                                            <td class="text-middle">{$vo.extract_card}</td>
                                            <td class="text-middle">{$vo.extract_name}</td>
                                            <td class="text-middle">{$vo.extract_mobile}</td>
                                            <td class="text-middle text-center">{$vo.extract_time}</td>
                                            <td class="text-middle text-center">
                                                {switch name="$vo.extract_status"}
                                                {case value="0"}<span style="color: orange">未处理</span>{/case}
                                                {case value="1"}<span style="color: green">已转账</span>{/case}
                                                {case value="2"}<span style="color: red">已拒绝</span>{/case}
                                                {/switch}
                                            </td>
                                            <td class="">
                                                <button class="btn btn-sm btn-info extract_btn" data-extract="{$vo.extract_id}" hrefs="{:url('depost',['extract_id'=>$vo.extract_id])}">详情</button>
                                            </td>
                                        </tr>
                                        <tr class="extract_form extract_{$vo.extract_id}">
                                            <td colspan="10">
                                                <form action="{:url('depost')}" class="form-horizontal adminex-form depost_{$vo.extract_id}" method="post">
                                                    <table class="table table-bordered table-striped table-condensed">
                                                        <tr>
                                                            <td class="am-text-right">提现状态</td>
                                                            {switch name="$vo.extract_status"}
                                                            {case value="0"}
                                                            <td style="background-color: #ccc">未处理</td>
                                                            {/case}
                                                            {case value="1"}
                                                            <td style="background-color: #0daf35;color: #fff;">已转账</td>
                                                            {/case}
                                                            {case value="2"}
                                                            <td style="background-color: #cc0c03;color: #fff;">已拒绝</td>
                                                            {/case}
                                                            {/switch}
                                                        </tr>
                                                        <tr>
                                                            <td class="am-text-right">提现加盟商 (ID)</td>
                                                            <td class="">{$vo.agent_name} ({$vo.extract_agent_id})</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="am-text-right">提现金额</td>
                                                            <td class="">￥{$vo.extract_money|floatval} <strong style="color: red;">(
                                                                提现：￥{$vo.extract_money|floatval}，手续费：￥{$vo.extract_tax|floatval}
                                                                )</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="am-text-right">提现银行</td>
                                                            <td class="">{$vo.extract_bank}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="am-text-right">提现账号</td>
                                                            <td class="">{$vo.extract_card}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="am-text-right">提现人</td>
                                                            <td class="">{$vo.extract_name}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="am-text-right">提现人电话</td>
                                                            <td class="">{$vo.extract_mobile}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="am-text-right">申请时间</td>
                                                            <td class="">{$vo.extract_time}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="am-text-right">提现备注</td>
                                                            <td class="">{$vo.extract_remark}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="am-text-right">处理结果</td>
                                                            <td class="">{$vo.extract_remark}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="am-text-right">处理人</td>
                                                            <td class="">
                                                                {switch name="$vo.extract_deal_agent"}
                                                                {case value="0"}/{/case}
                                                                {case value="-1"}总后台{/case}
                                                                {default /}{$vo.extract_deal_agent}
                                                                {/switch}
                                                            </td>
                                                        </tr>
                                                        {if condition="$vo.extract_status == 0"}
                                                        <tr>
                                                            <td class="am-text-right am-text-middle">处理结果</td>
                                                            <td class="am-form am-text-middle">
                                                                <input type="hidden" name="extract_id" value="{$vo.extract_id}">
                                                                <div class="icheck">
                                                                    <div class="square-blue single-row" style="float: left;">
                                                                        <div class="radio">
                                                                            <label>
                                                                                <input type="radio" name="extract_status" value="1"> 已转账
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="square-red single-row" style="float: left;">
                                                                        <div class="radio">
                                                                            <label>
                                                                                <input type="radio" name="extract_status" value="2" checked> 已拒绝
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="am-text-right am-text-middle">处理结果备注</td>
                                                            <td class="">
                                                                <div class="am-form">
                                                                    <textarea name="extract_remark" class="form-control" cols="30" rows="10"></textarea>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="am-text-right am-text-middle">处理结果备注</td>
                                                            <td class="">
                                                                <input type="button" class="btn btn-info" onclick="depost_sumbit('{$vo.extract_id}')" value="提交审核">
                                                            </td>
                                                        </tr>
                                                        {/if}
                                                    </table>
                                                </form>
                                            </td>
                                        </tr>
                                        {/volist}
                                    </tbody>
                                </table>
                                <div class="row-fluid">
                                    <div class="dataTables_paginate paging_bootstrap pagination">{$agent_record->render()}</div>
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
{include file="../application/common/view/web/footer.html"}
</body>
</html>
<script src="/resource/web/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/resource/web/js/iCheck/jquery.icheck.js"></script>
<script src="/resource/web/js/icheck-init.js"></script>
<script>
    $('.extract_btn').toggle(function () {
        let id = $(this).data('extract');
        $(this).text('隐藏');
        $('.extract_'+id).show();
        let top = $('.extract_'+id).offset().top;
        $("html,body").animate({scrollTop:top-105},1000);
    },function () {
        let id = $(this).data('extract');
        $(this).text('详情');
        $('.extract_'+id).hide();
    });

    /**
     * 提交处理
     * @param id
     */
    function depost_sumbit(id) {
        submit_form({
            url : '{:url("depost")}',
            data : $('.depost_'+id).serialize(),
            fun : function (res) {
                if(res.state = 200){
                    layer.msg(res.msg,{},function () {
                        window.location.reload();
                    });
                }else{
                    layer.open({
                        title:'审核提示',
                        content:res.msg,
                    });
                }
            }
        });
    }
</script>