<!DOCTYPE html>
<html lang="en">
<head>
    {include file="../application/common/view/web/head.html" title=" - 系统管理"}
</head>
<body class="sticky-header">
<section>
    {include file="../application/common/view/web/left.html"}
    <div class="main-content">
        {include file="../application/common/view/web/header.html"}
        <div class="page-heading">
            <ul class="breadcrumb">
                <ul class="breadcrumb">
                    <li><a href="{:url('Index/index')}">首页</a></li>
                    <li><a href="{:url('Center/update_password')}">系统管理</a></li>
                    <li class="active"> 修改密码</li>
                </ul>
            </ul>
        </div>
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">修改密码</header>
                        <div class="panel-body">
                            <form action="" class="form-horizontal adminex-form" id="form">
                                <div class="form-group">
                                    <label for="old_password" class="col-lg-2 col-sm-2 control-label">旧密码</label>
                                    <div class="col-lg-10 col-sm-10">
                                        <input class="form-control" type="text" id="old_password" name="old_password" placeholder="请输入您的旧密码" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-lg-2 col-sm-2 control-label">新密码</label>
                                    <div class="col-lg-10 col-sm-10">
                                        <input class="form-control" type="text" id="password" name="password" placeholder="设置一个新的密码" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="re_password" class="col-lg-2 col-sm-2 control-label">确认密码</label>
                                    <div class="col-lg-10 col-sm-10">
                                        <input class="form-control" type="text" id="re_password" name="re_password" placeholder="请再次输入新的密码" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-sm-10 col-lg-push-2 col-sm-push-2">
                                        <button type="button" id="sub" class="btn btn-info">确认并保存</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
{include file="../application/common/view/web/footer.html"}
</body>
</html>
<script>
    $('#sub').click(function () {
        submit_form({
            url: '{:url("")}',
            data: $('#form').serialize(),
            fun: function (res) {
                if(res.state == 200){
                    layer.msg(res.msg,{},function () {
                        window.location.href = res.url;
                    });
                }else{
                    layer.msg(res.msg);
                }
            }
        });
    });
</script>