<!DOCTYPE html>
<html lang="en">
<head>
    {include file="../application/common/view/web/head.html" title=" - 微信管理"}
</head>
<body class="sticky-header">
<section>
    {include file="../application/common/view/web/left.html"}
    <div class="main-content">
        {include file="../application/common/view/web/header.html"}
        <div class="page-heading">
            <ul class="breadcrumb">
                <li>
                    <a href="{:url('Index/index')}">首页</a>
                </li>
                <li>
                    <a href="{:url('Index/index')}">微信管理</a>
                </li>
                <li class="active"> 微信配置</li>
            </ul>
        </div>
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">微信配置</header>
                        <div class="panel-body">
                            <form action="" class="form-horizontal adminex-form" id="wechat" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="appid" class="col-lg-2 col-sm-2 control-label">微信APPID</label>
                                    <div class="col-lg-10 col-sm-10">
                                        <input class="form-control" type="text" value="{:url('weixin/index/index',[],'',true)}" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="appid" class="col-lg-2 col-sm-2 control-label">微信APPID</label>
                                    <div class="col-lg-10 col-sm-10">
                                        <input class="form-control" type="text" autocomplete="off" id="appid" name="conf_content[app_id]"  value="{$info.app_id|default=''}" placeholder="请输入微信APPID">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="appsecret" class="col-lg-2 col-sm-2 control-label">微信appsecret</label>
                                    <div class="col-lg-10 col-sm-10">
                                        <input class="form-control" type="text" autocomplete="off" id="appsecret" name="conf_content[secret]"  value="{$info.secret|default=''}" placeholder="请输入微信appsecret">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="token" class="col-lg-2 col-sm-2 control-label">微信token</label>
                                    <div class="col-lg-10 col-sm-10">
                                        <input class="form-control" type="text" autocomplete="off" id="token" name="conf_content[token]"  value="{$info.token|default=''}" placeholder="请输入微信token">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="encodingaeskey" class="col-lg-2 col-sm-2 control-label">微信encodingaeskey</label>
                                    <div class="col-lg-10 col-sm-10">
                                        <input class="form-control" type="text" autocomplete="off" id="encodingaeskey" name="conf_content[aes_key]"  value="{$info.aes_key|default=''}" placeholder="请输入微信encodingaeskey">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="validate_file" class="col-lg-2 col-sm-2 control-label">微信txt文件</label>
                                    <div class="col-lg-10 col-sm-10">
                                        <input type="file" name="wechat_txt"  id="validate_file" placeholder="上传微信验证txt文件" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-sm-10 col-lg-push-2 col-sm-push-2">
                                        <button type="submit" id="subs" class="btn btn-info">保存设置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
{include file="../application/common/view/web/footer.html"}
</body>
</html>
<script>
    $('#sub').click(function () {
        submit_form({
            url: '{:url("wechat")}',
            data: $('#wechat').serialize(),
            fun: function (res) {
                if(res.state == 200){
                    layer.msg(res.msg,{},function () {
                        window.location.reload();
                    });
                }else{
                    layer.msg(res.msg);
                }
            }
        });
    });
</script>