<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="author" content="ThemeBucket">
<title>售货机管理后台 [title]</title>
<link href="/resource/web/css/style.css" rel="stylesheet">
<link href="/resource/web/css/style-responsive.css" rel="stylesheet">
<script src="/resource/web/js/jquery-1.10.2.min.js"></script>
<script src="/resource/js/layer/layer.js"></script>

<!--[if lt IE 9]>
<script src="/resource/web/js/html5shiv.js"></script>
<script src="/resource/web/js/respond.min.js"></script>
<![endif]-->