<div class="left-side sticky-left-side">
    <div class="logo">
        <a href="index.html"><img src="/resource/web/images/logo.png" alt="logo"></a>
    </div>
    <div class="logo-icon text-center">
        <a href="{:url('Index/index')}"><img src="/resource/web/images/logo_icon.png" alt="logo"></a>
    </div>
    <div class="left-side-inner">
        <ul class="nav nav-pills nav-stacked custom-nav">
            <!-- nav-active -->
            <li class="active">
                <a href="{:url('Index/index')}">
                    <i class="fa fa-home"></i> <span>首页</span>
                </a>
            </li>
            <li class="menu-list">
                <a href=""><i class="fa fa-laptop"></i> <span>设备管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="blank_page.html"> 设备类型</a></li>
                    <li><a href="blank_page.html"> 设备列表</a></li>
                </ul>
            </li>
            <li class="menu-list">
                <a href="javascript:void(0);"><i class="fa fa-book"></i> <span>商品管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="#"> 商品库</a></li>
                    <li><a href="#"> 商品列表</a></li>
                </ul>
            </li>
            <li class="menu-list">
                <a href=""><i class="fa fa-cogs"></i> <span>广告管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="#"> 素材列表</a></li>
                    <li><a href="#"> 投放列表</a></li>
                </ul>
            </li>
            <li class="menu-list">
                <a href=""><i class="fa fa-tasks"></i> <span>数据管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="#"> 数据展示</a></li>
                </ul>
            </li>
            <li class="menu-list">
                <a href=""><i class="fa fa-bar-chart-o"></i> <span>订单管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="#"> 订单列表</a></li>
                </ul>
            </li>
            <li class="menu-list">
                <a href=""><i class="fa fa-th-list"></i> <span>提现管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="{:url('Depost/index')}"> 提现列表</a></li>
                </ul>
            </li>
            <li class="menu-list">
                <a href=""><i class="fa fa-wechat"></i> <span>微信管理</span></a>
                <ul class="sub-menu-list">
                    <li><a href="{:url('Conf/wechat')}"> 微信配置</a></li>
                    <li><a href="#"> 微信菜单</a></li>
                    <li><a href="#"> 回复设置</a></li>
                    <li><a href="#"> 微信关键字</a></li>
                    <li><a href="#"> 支付设置</a></li>
                </ul>
            </li>
            <li class="menu-list">
                <a href="#"><i class="fa fa-map-marker"></i> <span>系统设置</span></a>
                <ul class="sub-menu-list">
                    <li><a href="#"> 分佣设置</a></li>
                    <li><a href="{:url('Center/update_password')}"> 修改密码</a></li>
                    <li><a href="{:url('Login/logout')}"> 退出系统</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>